apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nginx-app
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://mikolajbb2002.github.io/k8s-nginx-microservice
    chart: nginx-k8s
    targetRevision: 0.2.0
    helm: 
      releaseName: nginx-release
      values: |
      
        service:
          type: LoadBalancer
  destination: 
    server: https://kubernetes.default.svc
    namespace: nginx-ns
  syncPolicy:
    syncOptions:
    - CreateNamespace=true

    automated:
      selfHeal: true
      prune: true
      